.underlined-course {
  text-decoration: underline;
  text-decoration-color: #ffe600;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  cursor: pointer;
  border-radius: 2px;
  background: none !important;
}
